#ft{clear:both;}

#doc,#doc2,#doc3,.col-t1,.col-t2,.col-t3,.col-t4,.col-t5,.col-t6,.col-t7 {
	margin:auto;text-align:left;
	width:57.69em;
	width:56.3em;
	min-width:750px;}
 
#doc2 {
	width:73.074em;
	width:71.313em;min-width:950px;}

#doc3 {
	margin:auto 10px; 
	width:auto;
}

	.col-b{position:relative;}
	.col-b{position:static;} 
	#col-main .col-b{position:static;} 

#col-main {width:100%;}
.col-t1 #col-main,
.col-t2 #col-main,
.col-t3 #col-main{float:right;margin-left:-25em;
}

.col-t4 #col-main,
.col-t5 #col-main,
.col-t6 #col-main{float:left;margin-right:-25em;}

.col-t1 .col-b {
	float:left;
    width:12.3207em;
	width:12.0106em;}
.col-t1 #col-main .col-b{
    margin-left:13.3207em;
	margin-left:13.0106em;
}

.col-t2 .col-b {
	float:left;
    width:13.8456em;
	width:13.512em;}
.col-t2 #col-main .col-b {
    margin-left:14.8456em;
	margin-left:14.512em;
}

.col-t3 .col-b {
	float:left;
    width:23.0759em;
	width:22.52em;
}
.col-t3 #col-main .col-b {
    margin-left:24.0759em;
	margin-left:23.52em;
}

.col-t4 .col-b {
	float:right;
    width:13.8456em;
	width:13.512em;}
.col-t4 #col-main .col-b {
    margin-right:14.8456em;
	margin-right:14.512em;
}

.col-t5 .col-b {
	float:right;
    width:18.4608em;
	width:18.016em;}
.col-t5 #col-main .col-b {
    margin-right:19.4608em;
	margin-right:19.016em;
}

.col-t6 .col-b {
	float:right;
    width:23.0759em;
	width:22.52em;}
.col-t6 #col-main .col-b {
    margin-right:24.0759em;
	margin-right:23.52em;
}

.col-t7 #col-main .col-b {
	display:block;
	margin:0 0 1em 0;
}
#col-main .col-b {float:none;width:auto;}
.col-g .col-u, 
.col-g .col-g, 
.col-gc .col-u,
.col-gc .col-g .col-u,
.col-ge .col-u, 
.col-gf .col-u{float:right;display:inline;}
.col-g div.first, 
.col-gc div.first,
.col-gc div.first div.first,
.col-gd div.first, 
.col-ge div.first, 
.col-gf div.first{float:left;}
.col-g .col-u, 
.col-g .col-g{width:49.1%;}
.col-g .col-g .col-u,
.col-gc .col-g .col-u {width:48.1%;}
.col-gb .col-u, 
.col-gc .col-u, 
.col-gd .col-u{float:left;margin-left:2%;margin-left:1.895%;width:32%;}
.col-gb div.first, 
.col-gc div.first, 
.col-gd div.first{margin-left:0;}
.col-gc div.first, 
.col-gd .col-u{width:66%;}
.col-gd div.first{width:32%;}
.col-ge .col-u{width:24%;}
.col-ge div.first, 
.col-gf .col-u{width:74.2%;}
.col-gf div.first{width:24%;}
.col-ge div.first{width:74.2%;}
#bd:after,
.col-g:after, 
.col-gb:after, 
.col-gc:after, 
.col-gd:after, 
.col-ge:after, 
.col-gf:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
#bd,
.col-g, 
.col-gb, 
.col-gc, 
.col-gd, 
.col-ge, 
.col-gf{zoom:1;}

	
#secondary{
	height:300px;
	margin:0;
	padding:0;
	}
	

