body {
    font-family: 'Exo 2', sans-serif;
    margin: 0;
    padding: 0;

}
.homepage-main {
    padding: 20px;
}
.features-section, .how-to-use-section, .contact-section {
    margin: 20px auto;
    max-width: 800px;
    text-wrap: justify;
}

.features-heading, .how-to-use-heading, .contact-heading {
    font-size: 28px;
    margin-bottom: 20px;
}

.features-list, .how-to-use-steps {
    display: flex;
    flex-direction: column;
}

.feature-card, .step {
    background-image: url('../assets/pomodoroWallpaper.jpg');
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature-title, .step-title {
    font-size: 22px;
    margin-bottom: 10px;
}

.feature-description, .step-description {
    font-size: 16px;
}


.footer-text {
    margin-bottom: 10;
    background-color: transparent;
    font-size: 24px;
    color: white;
}
