#accordion-content-time-spent {
  font-family: 'montserrat', sans-serif;
  display: grid;
  grid-template-columns: 70% 30%; /* Two equal-width columns */
  gap: 20px; /* Space between the columns */
  max-height: 0;
  overflow: hidden;
  background-color: transparent;
  border-radius: 10px;
  padding: 0 15px;
  opacity: 0;
  margin: 0;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
}

#accordion-content-time-spent .text-container-time-spent {
  text-align: left;
  color: white;
  font-size: 18px;
  font-weight: lighter;
}

#accordion-content-time-spent .chart-container-time-spent {
  align-self: flex-end;
  width: 95%;
  height: 380px;
}

#timeSpentChart {
  margin-top: 10px !important;
  width: 100%; /* Make sure the chart fills its container */
  border-radius: 15px !important;
  background-color: white !important;
  height: 350px !important;
}
